.auth-card {
  width: 380px;
  margin: 100px auto;
  padding: 24px;
}

.full-width {
  width: 100%;
}

.toggle-text {
  margin-top: 16px;
  text-align: center;

  a {
    cursor: pointer;
    color: #3f51b5;
    font-weight: 500;
  }
}