<mat-card class="auth-card">
  <h2>{{ isAdminMode ? 'Admin Login' : 'Login' }}</h2>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <p *ngIf="errorMessage" class="error-text">
      {{ errorMessage }}
    </p>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
    >
      Login
    </button>
  </form>

  <!-- USER MODE -->
  <ng-container *ngIf="!isAdminMode">
    <p class="toggle-text">
      New user? <a>Sign Up</a>
    </p>

    <p class="toggle-text">
      <a (click)="switchToAdminLogin()">Admin Login</a>
    </p>
  </ng-container>

  <!-- ADMIN MODE -->
  <ng-container *ngIf="isAdminMode">
    <p class="admin-hint">Admin access only</p>
    <p class="toggle-text">
      <a (click)="backToUserLogin()">Back to User Login</a>
    </p>
  </ng-container>
</mat-card>